<!DOCTYPE html>
<html>
<head>
  <title>Patrimonivila</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id='container'>
    <% if !(@flash_messages = flash_messages).blank? %>
      <div id='flash-messages'>
        <%= @flash_messages %>
      </div>
    <% end %>
    <div id='content'>
      <%= yield %>
    </div>
  </div>

</body>
</html>
